#titulo{
    text-align: center;
    color: rgb(16, 109, 16);
}

body{
   background-color: rgb(243, 253, 239); 
}

.container {
    padding: 75px 20%;
}

.bottom-space{
    margin-bottom: 40px;
}

.painel-carteira {
    aspect-ratio: 2/1;
}

.painel-titulo {
    text-align: center;
    color: rgb(0,129,49);
}

.painel-conteudo {
    text-align: right;
    margin-top: 15%
}

.shadow {
    box-shadow: 4px 4px 0 rgb(0,0,0,0.2);
}